:root {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.container {
  height: 350px;
  width: 670px;
  background-image: url('../images/bg.jpg');
  background-repeat: repeat;
  margin-top: 100px;
  padding-top: 100px;
  margin-right: auto;
  margin-left: auto;
}

.box {
  display: flex;

  width: 351px;
  height: 60px;

  border: 7px solid #3c4145;
  background-color: #0f1014;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.4),
    inset 0.5px 0.866px 0px 0px rgba(255, 255, 255, 0.1);

  padding-left: 2px;
  margin: auto;
  margin-left: auto;
}

.button {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 65px;
  height: 42px;
  border-radius: 2px;
  background-image: -moz-linear-gradient(
    90deg,
    rgb(46, 49, 54) 0%,
    rgb(69, 74, 80) 100%
  );
  background-image: -webkit-linear-gradient(
    90deg,
    rgb(46, 49, 54) 0%,
    rgb(69, 74, 80) 100%
  );
  background-image: -ms-linear-gradient(
    90deg,
    rgb(46, 49, 54) 0%,
    rgb(69, 74, 80) 100%
  );
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.4),
    inset 0.5px 0.866px 0px 0px rgba(255, 255, 255, 0.1);
  margin-top: 2px;
}

.button:not(:last-child) {
  margin-right: 2px;
}
.black {
  margin-bottom: 40px;
}

.icon {
  height: 20px;
  width: 30px;
}
.white__icon {
  fill: #c4c4c4;
}

.black__icon {
  fill: #1d1f27;
}

.white__button:hover .white__icon {
  fill: #111318;
}

.black__button:hover .black__icon {
  fill: #c4c4c4;
}

.button:hover {
  border-radius: 2px;
  background-image: -moz-linear-gradient(
    90deg,
    rgb(35, 39, 42) 0%,
    rgb(49, 52, 57) 100%
  );
  background-image: -webkit-linear-gradient(
    90deg,
    rgb(35, 39, 42) 0%,
    rgb(49, 52, 57) 100%
  );
  background-image: -ms-linear-gradient(
    90deg,
    rgb(35, 39, 42) 0%,
    rgb(49, 52, 57) 100%
  );
  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
